/*NULLIFY*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* ___________________________---- */

.acordion{
    display: flex;
    flex-direction: column;
    gap: 20px;
   width: 800px;
 
   margin: 100px auto;
  
}

svg{
    width: 25px;
    height: 25px;
    color: green;

}

.item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 15px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.046);

  

}
.hidden{
    grid-column: 2;
    display: none; 
}

.title{
    color: black;
    font-size: 25px;
}

.number{
    color: #ced4da;
    font-size: 25px;
}

.text{
color: #343a40;
padding-bottom: 15px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li{
    list-style-position: inside;
    color: #868e96;
}


.open .hidden{
    display: block;
}

.open .number, .open .title{
    color: green;
    font-size: 25px;
}

.open{
    border-top: 5px solid green;
}

